#index-banner.section.no-pad-bot
  .container
    .row
      .column#gameColumn
        %h3.header.center{style: "width: 600px"}
          #gameScoreCounter
            1 vs 100
      .column#gameColumn
        %h3.header.center
          #gameTimer
  .container
    .row
      .column#gameColumn
        #gameContainer
      .column#gameColumn
        .container
          - User::Cheering::EMPLOYEE_ROLES.each do |role|
            - cheering = current_user.cheerings.find_by(employee_role: role[:type])
            - text = cheering.present? ? cheering.text : role[:type]

            = render partial: "web/games/cheerings/#{role[:type]}", locals: { color: role[:color], text: text }
          .container
            %br
            = button_to "Обновить слова", session_path, method: :delete, class: "btn waves-effect waves-light btn-update"
        %br
        %br
        .container
          %div#voiceContainer
            %i.material-icons#vioceIcon
              mic_none
            Отладочная информация
