:css
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
  }

#index-banner.section.no-pad-bot
  .container
    .row
      .column
        #gameContainer
      .column
        .container
          - User::Cheering::EMPLOYEE_ROLES.each do |role|
            - cheering = current_user.cheerings.find_by(employee_role: role[:type])
            - text = cheering.present? ? cheering.text : role[:type]

            = render partial: "web/games/cheerings/#{role[:type]}", locals: { color: role[:color], text: text }

        .container
          #voiceContainer
            %button
              Start new test
            %div
              %p.phrase
                Phrase...
              %p.result
                Right or wrong?
              %p.output
                "...diagnostic messages"
