#index-banner.section.no-pad-bot
  .container
    .row
      .column
        %h3.header.center{style: "width: 600px"}
          #gameScoreCounter
            1 vs 100
      .column
        %h3.header.center
          #gameTimer
  .container
    .row
      .column
        #gameContainer
      .column
        .container
          - User::Cheering::EMPLOYEE_ROLES.each do |role|
            - cheering = current_user.cheerings.find_by(employee_role: role[:type])
            - text = cheering.present? ? cheering.text : role[:type]

            = render partial: "web/games/cheerings/#{role[:type]}", locals: { color: role[:color], text: text }
          .container
            %br
            = button_to "Обновить тексты", session_path, method: :delete, class: "btn waves-effect waves-light"
        %br
        %br
        .container
          #voiceContainer
            %button
              Начать тест речи
            %div
              %p.output
                = "...отладочная информация"
