#index-banner.section.no-pad-bot
  .container
    %h6{style: 'color: #fdd835'}
      1 - Желтый
    %h6{style: 'color: green'}
      2 - Зелёный
    %h6{style: 'color: #2196F3'}
      3 - Синий
    %div#gameContainer
