.waves-button-input{
  display: inline-block;
  cursor: pointer;
}

.btn-save {
  background-color: #38adff;
}

.btn-update {
  background-color: gray;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}

.cheering-input {
  width: 30% !important;
  color: white;
}

#vioceIcon {
  position: relative;
  top: 7px;
  margin-right: 10px;
}

body {
  background-color: black;
  color: white;
}
