.waves-button-input{
  display: inline-block;
  cursor: pointer;
}

.btn {
  background-color: #38adff;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}

.cheering-input {
  width: 30% !important;
  color: white;
}

body {
  background-color: black;
  color: white;
}
