.waves-button-input{
  display: inline-block;
  cursor: pointer;
}

.btn-save {
  background-color: #38adff;
}

.btn-update {
  background-color: gray;
}

.row {
  display: flex;
}

#gameColumn {
  flex: 50%;
}

.cheering-input {
  width: 30% !important;
  color: white;
}

#vioceIcon {
  position: relative;
  top: 7px;
  margin-right: 10px;
}

.wins-link {
 text-decoration: none;
}
.wins-link:hover {
 text-decoration: underline;
 text-decoration-color: #D50000;
}

body {
  background-color: black;
  color: white;
}
