#index-banner.section.no-pad-bot
  .container
    %h1.header.center
      1 vs 100
      %br
      %br

    %h5.center
      Привет.
      %br/
      Представь, тебе нужно ввести имя.
      %br
      %br
      = render partial: 'form', locals: { user: @new_user, url: user_path }
