#index-banner.section.no-pad-bot
  .container
    %h1.header.center
      1 vs 100
      %br
      %br

    %h5.center
      = render partial: "web/users/cheerings/roles/#{@new_cheering.employee_role}"
      %br
      %br
      = render partial: 'form', locals: { user_cheering: @new_cheering, url: user_cheerings_path }
